body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:45px;
  width:177px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:94px;
  width:362px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u306 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
